<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tomato Disease Predictor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=3">
</head>

<body class="home-body">



    <div class="overlay"></div>

    <div class="content-wrapper">
        <h1 class="main-title">Predict Tomato Leaf Disease & Get Cure</h1>

        <div class="upload-box">
            <form action="/predict" method="post" enctype="multipart/form-data" class="upload-form">

                <div class="file-input-wrapper">
                    <button type="button" class="choose-file-btn"
                        onclick="document.getElementById('file-upload').click()">Choose File</button>
                    <input type="file" name="image" id="file-upload" onchange="updateFileName(this)" required>
                    <span id="file-name">No file chosen</span>
                </div>

                <br><br>

                <button type="submit" class="predict-btn">Predict</button>
            </form>
        </div>
    </div>

    <script>
        function updateFileName(input) {
            var fileName = input.files[0].name;
            document.getElementById("file-name").innerText = fileName;
        }
    </script>

</body>

</html>